*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sec2{
    margin-top: -35rem;
    margin-left: 20rem;
}
.loader{
    width: 40%;
    margin: auto;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.mmic{
    margin-left: -5rem;
    margin-right: -5rem;
}
.img1{
    margin-top: 1rem;
    float: left;
}
.line1{
    width: 1rem;
    height: 5rem;
    background-color: #4169e1;
    border-radius: 1rem;
    animation: animateLoader1 0.7s 0.6s infinite;
}
.line2{
    width: 1rem;
    height: 4rem;
    background-color: #4169e1;
    border-radius: 1rem;
    animation: animateLoader2 0.7s 0.3s infinite;
}
.line3{
    width: 1rem;
    height: 3rem;
    background-color: #4169e1;
    border-radius: 1rem;
    animation: animateLoader3 0.5s infinite;
}
.line4{
    width: 1rem;
    height: 2rem;
    background-color: #4169e1;
    border-radius: 1rem;
    animation: animateLoader4 0.6s  infinite;
}
@keyframes animateLoader1{
    0%{
        height: 5rem;
    }
    50%{
        height: 9rem;
    }
    100%{
        height: 5rem;
    }
}
@keyframes animateLoader2{
    0%{
        height: 4rem;
    }
    50%{
        height: 8rem;
    }
    100%{
        height: 4rem;
    }
}
@keyframes animateLoader3{
    0%{
        height: 3rem;
    }
    50%{
        height: 6rem;
    }
    100%{
        height: 3rem;
    }
}
@keyframes animateLoader4{
    0%{
        height: 2rem;
    }
    50%{
        height: 4rem;
    }
    100%{
        height: 2rem;
    }
}
.text{
    width: 70%;
    margin: auto;
    height: max-content;
    font-size: 2rem;
    margin-top: 1rem;
}
.start{
    background-color: transparent;
    border-color: transparent;
    color: transparent;
    text-align: left;
}
.stop{
    width: 7rem;
    height: 2rem;
    color: white;
    background-color: #4169e1;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    margin-left: 33%;
}
.reset{
        width: 7rem;
        height: 2rem;
    color: white;
    background-color: #4169e1;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
}
.buttons{
    display: flex;
    gap: 1rem;
    width: 50%;
    margin: auto;
}