*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mainplay{
    background-color: #f1f1f1;
    margin-top: -40rem;
    width: 81.8%;
    height: 47.4rem;
    float: right;
}
.playingnow{
    font-size: 1.5rem;
}
.mainimg{
    width: 400px;
    height: 350px;
    margin-top: 6rem;
}
.detailstitle{
    font-size: 1.5rem;
}
.detailsartist{
    font-size: 1rem;
    margin-top: -1rem;
}
.mbtn{
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    color: rgb(22, 22, 22);
    background: transparent;
}
.mbtn2{
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    color: rgb(1, 1, 1);
    margin-left: 5px;
    border-radius: 20px;
    background: linear-gradient(
        to bottom left, 
        #c0b9b9 0%, 
        #f1f1f1 50%, 
        #c0b9b9 100%
        
      );
}
.mbtn3{
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    color: rgb(8, 8, 8);
    background: transparent;
    
}
audio::-webkit-media-controls-play-button{
    display: none;
}
.media{
    width: 800px;
    margin-top: 1.5rem;
}
.nextup{
    font-weight: bold;
}
.ne{
    font-weight: lighter;
}